{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

{% block includes %}
<link rel="stylesheet" href="{% static 'notes/index_styles.css' %}">
{% endblock %}

{% block content %}
<p style="text-align: center;">«Desine sperare qui hic intras» — Оставь надежду всяк сюда входящий</p>
<h5>
    Недавние выпуски:
</h5>
{% if latest_articles_list %}
    <div class="cards">
        {% for article in latest_articles_list %}
            <a href="{% url 'notes:detail' article.id %}">
                <div class="card-box">
                {% if article.image %}
                    <img class="fit-size" src="{{ article.image.url }}" />
                {% else %}
                    <div class="fit-size linear-gradient"></div>
                {% endif %}
                    <div class="overlay-text">{{ article.heading}}</div>
                    <div class="appearing-text">{{article.body | bleach_clean | truncatechars:100}}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>No articles are available</p>
{% endif %}
<h5>
    Выпуски:
</h5>


<div class="cards">
    {% for elem in articles %}
        <article>
            <a href="{% url 'notes:detail' elem.id %}">
                <div class="card-box">
                    {% if elem.image %}
                        <img class="fit-size" src="{{ elem.image.url }}" />
                    {% else %}
                        <div class="fit-size linear-gradient"></div>
                    {% endif %}
                    <div class="overlay-text">{{ elem.heading}}</div>
                    <div class="appearing-text">{{elem.body | bleach_clean | truncatechars:100}}</div>
                </div>
                <div class="horizontal">
                    <div class="bordered background-blink"><a href="{% url 'notes:edit_article' elem.id %}"><i class="bi bi-pencil"></i> Редактировать</a></div>
                    <div class="bordered background-blink"><a href="{% url 'notes:edit_article' elem.id %}"><i class="bi bi-trash"></i> Удалить</a></div>
                </div>
            </a>
        </article>
    {% endfor %}
</div>
{% endblock %}