a { 
    text-decoration: none;
    color: white;
}
.titles {
    margin-top: 2%;
    font-size: 20px;
    margin-left: 6%;
    list-style-type:decimal-leading-zero;
}
p {
    padding: 0% 2% 0% 2%;
}
h3 {
    margin-left: 2%;
}

.first-level {
    margin-left: 5%;
    list-style-type: upper-roman;
}