body {
    background-color: #1a1a1d;

    padding: 0px 25% 0px 25%;
    font-family: serif;
    color: aliceblue;
}

.emptyness {
    height: 25px;
}

#logo-anchor {
    color: #960740;
    font-size: 40px;
    font-family: serif;
    transition: color 0.3s , text-decoration 0.3s ;
}

#logo-anchor:hover {
    color: rgb(12, 92, 49);
}

.blink i {
    transition: color 0.3s , text-decoration 0.3s ;
}

.blink:hover i {
    color: rgb(12, 92, 49);
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
}

.item1 {
    grid-column: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    align-items: end;
}

.item3 { 
    grid-column: 3 / 4;
}

.item4 {
    grid-column: 4 / 5;
}

.large-icon {
    font-size: 40px;
}

.middle-icon {
    font-size: 30px;
}

.header {
    display: grid; /* Включаем Grid */
    grid-template-columns: 80% 7% 7% auto; 
    align-items: center; /* Выравниваем элементы по вертикали */
    padding-top: 20px;
    color: white; /* Цвет текста */
}

main {
    margin-top: 1em;
}

main p {
    margin-bottom: 1.5em;
}